:root { --red: #893F45; }

body {
	background-color: #ffffea;
}

a {
	color: var(--red);
}

.tab {
	margin-left: 40px;
	margin-right: 40px;
}

.dr {
	color: var(--red);
}

dt {
	font-family: monospace;
	margin: 10px 0;
}
